/* base */
body,html{ padding:0; margin:0; background:none; text-align:center;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td,dd,dt,dl{ padding:0;margin:0; }
ul,li{ list-style: none;list-style-type:none;}img{ border:none;}
a,input,textarea,button{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.animate{-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.tl{ text-align:left;}.tc{ text-align:center;}.tr{ text-align:right;}.tdn{ text-decoration:none;}
.fl{ float:left;}.fr{ float:right;}.clear{ clear:both;}
.posi-r{ position:relative;}.lh24{ line-height:24px;}
.fwb{ font-weight:bold;}.fw{ font-weight:100;}
/* my css */



